<!DOCTYPE html>
{% load static %}
<html lang="zh-TW">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/isotope/3.0.6/isotope.pkgd.min.js"></script>
    <title>{% block title %}Lugx Gaming - Shop Page{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/gh/movieteam4/style@refs/heads/main/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/movieteam4/style@refs/heads/main/templatemo-lugx-gaming.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/movieteam4/style@refs/heads/main/owl.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/movieteam4/style@refs/heads/main/animate.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
    <!-- TemplateMo 589 lugx gaming -->
    {% if detail %}
    <script type="text/javascript">
        alert("{{detail}}");
    </script>
  {% endif %}
    <style>
      .heart-checkbox input[type="checkbox"] {
        display: none;  /* 隱藏默認的checkbox */
      }

      .heart-checkbox label {
        position: relative;
        font-size: 25px;
        cursor: pointer;
        color: #ff4081;  /* 愛心顏色 */
      }

      .heart-checkbox label i.fas.fa-heart {
        display: none;  /* 初始狀態，隱藏實心愛心 */
      }

      .heart-checkbox input[type="checkbox"]:checked + label i.fas.fa-heart {
        display: inline;  /* 勾選後顯示實心愛心 */
      }

      .heart-checkbox input[type="checkbox"]:checked + label i.far.fa-heart {
        display: none;  /* 勾選後隱藏空心愛心 */
      }

      .row span{font-weight: bold;
        color: #ff69b4;
         font-size: 24px;
         text-transform: capitalize
        }
        #comments-section h2 {
          position: sticky;  /* 使標題固定 */
          top: 0;            /* 固定在頂部 */
          background-color: #fff; /* 設定背景色，避免和後面的內容混在一起 */
          z-index: 10;       /* 確保標題在最上層 */
          padding: 10px 0;    /* 增加一些內邊距，使標題顯得更清晰 */
          margin: 0;
          border-bottom: 1px solid #ccc; /* 可選：加一條邊框與留言區分 */
      }

      #comments-list {
          max-height: 400px;   /* 設置留言區最大高度，讓它能滾動 */
          overflow-y: auto;    /* 當內容超過最大高度時，顯示垂直滾動條 */
          padding-left: 0;     /* 移除列表的內邊距 */
      }

      #comments-list li {
          margin-bottom: 10px; /* 每條留言的底部留空隙 */
          padding: 10px;
          border-bottom: 1px solid #f0f0f0; /* 每條留言的邊框 */
      }

      #comments-list li:last-child {
          border-bottom: none; /* 最後一條留言去掉邊框 */
      }
    </style>
    </head>
<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <script>
    window.onload = function () {
      const preloader = document.getElementById('js-preloader');
      if (preloader) {
        preloader.style.display = 'none'; // Hide the preloader
      }
    }
  </script>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="{% url 'Taiwan_movies_all' %}" class="logo">
                        <img src="https://raw.githubusercontent.com/movieteam4/img/refs/heads/main/logo.png" alt="" style="width: 158px;">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                      <li><a href="{% url 'Taiwan_movies_all' %}">Home</a></li>
                      <li><a href="{% url 'about_us' %}">關於我們</a></li>
                      {% if status == 'signed_in' %}
                      <li><a href="https://taiwan-movies-36c4c3ac2ec6.herokuapp.com/Taiwan_movies_all/user_more"><i class="fas fa-user" style="font-size: 25px;" ></i><span style="font-weight: bold; color: #fff; font-size: 24px; text-transform: capitalize;">{{name}}</span></a></li>
                      <li><a href="https://taiwan-movies-36c4c3ac2ec6.herokuapp.com/Taiwan_movies_all/more_detail/?m={{movie_name}}&status=Sign_out">Sign Out</a></li>
                      {% endif %}
                      {% if status == 'signed_out' %}
                      <li><a href="{% url 'hello' %}">Sign In</a></li>
                      {% endif %}
                    </ul>
                    <a class="menu-trigger">
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <div class="page-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h3>{{movie_name}}</h3>
        </div>
      </div>
    </div>
  </div>

  <body>
    <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
      <iframe width="1800" height="800" src="{{youtube}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  <div class="row d-flex align-items-center">
    <div class="col-lg-5 offset-1 align-self-center">
      <div class="caption header-text">
        <table>
        <tr>
        <td><img class="chow_movie_img" src="{{img}}" alt="Movie Image" style="height:600px ; width:400px"></td>
        <td style="vertical-align: top;"><span><div class="heart-checkbox {ch_name}">
          <input type="checkbox" id="heart-checkbox{{movie_name}}" data-movie-title="{{movie_name}}" {{check}} />
          <label for="heart-checkbox{{movie_name}}" {% if 'signed_out' in status %} onclick="alert('請先登入！'); return false ;" {% endif%}>
            <i class="far fa-heart" id="img_heart"></i>  <!-- 空心愛心 -->
            <i class="fas fa-heart"></i>  <!-- 實心愛心 -->
          </label>
        </div>
        中文片名:{{movie_name}}<br>英文片名:{{eng_name}}<br>導演:{{director}}<br>演員:{{actors}}<br>上映日:{{release_date}}</span><br>
          <span style="display: block; word-wrap: break-word;"><select id="cinema-group-select" name="cinema">
            <option value="">請選擇影城</option>
            {% for cinema in cinema_group %}
            <option value="{{cinema}}">{{cinema}}</option>
            {% endfor %}
          </select>
          <br>
          <select id="cinema-select" name="cinema" disabled>
          <option value="">請選擇電影院</option>
          {% for cinema in cinema_list %}
          <option value="{{cinema}}">{{cinema}}</option>
          {% endfor %}
        </select>
        <br>
        <!-- 第三個選單：放映日期 -->
        <select id="date-select" name="date" disabled>
          <option value="">請選擇放映日期</option>
        </select>
         <!-- 顯示撥放時間 -->
         <div id="time-display"></div>
        </span>
        </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-lg-6  align-self-center">
    <div class="caption header-text">
      <!-- 顯示所有留言 -->
    <div id="comments-section">
      <h2>評論區</h2>
      <ul id="comments-list">
          <!-- 留言將會在這裡被動態插入 -->
          {% if mass_obj %}
          {% for mass in mass_obj %}
          <li>
              <strong>{{ mass.name }}:</strong>
              <p>{{ mass.what_manage }}</p>
              <em style="font-size: 10px; opacity: 0.7;">{{ mass.creat_at }}</em>

          </li>
          {% endfor %}
          {% else %}
          <li>目前沒有留言</li>
          {% endif %}
      </ul>
  </div>
       <!-- 留言表單 -->
       <div id="comment-form">
        <form id="new-comment-form" method="POST">
            {% csrf_token %}
            <label for="author">{{e_mail}}</label>
            <input type="hidden" name="movieName" value="{{movie_name}}">


            <label for="content">發表評論:</label><br>
            <textarea name="massage" id="massage" rows="4" cols="50" required></textarea><br><br>

            <button type="submit"  {% if 'signed_out' in status %} onclick="alert('請先登入！'); return false ;" {% endif%}>提交</button>
        </form>
    </div>

    </div>
  </div>
</div>
<!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="https://cdn.jsdelivr.net/gh/movieteam4/js@refs/heads/main/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/movieteam4/js@refs/heads/main/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/movieteam4/js@refs/heads/main/isotope.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/movieteam4/js@refs/heads/main/owl-carousel.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/movieteam4/js@refs/heads/main/counter.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/movieteam4/js@refs/heads/main/custom.js"></script>
  <script type="text/javascript">
    // 將 CSRF 令牌存儲在 JavaScript 變量中
    const csrftoken = '{{ csrf_token }}';
  </script>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script>
        $(document).ready(function() {
          // 顯示 preloader
          function showPreloader() {
            $('#js-preloader').show().fadeIn(300);
          }

          // 隱藏 preloader
          function hidePreloader() {
            $('#js-preloader').hide().fadeIn(300);
          }
          // 當影城選擇改變時發送 AJAX 請求獲取對應電影院
          $('#cinema-group-select').change(function() {
            var cinema_group = $(this).val();
            var movieName = "{{movie_name}}";
            if (cinema_group !== '') {
              showPreloader(); // 顯示 preloader

              $.ajax({
                url: '{% url "get_cinemas" %}', // Django URL
                method: 'GET',
                data: { 'back_movie': movieName, 'back_cinema_group': cinema_group },
                success: function(response) {
                  $('#cinema-select').empty().prop('disabled', false); // 清空並啟用日期選單
                  $('#cinema-select').append('<option value="">請選擇電影院</option>');
                  $.each(response.cinemas, function(index, cinema) {
                    $('#cinema-select').append('<option value="' + cinema + '">' + cinema + '</option>');
                  });
                },
                complete: function() {
                  hidePreloader(); // 請求完成後隱藏 preloader
                }
              });
            } else {
              $('#date-select').empty().prop('disabled', true); // 清空日期選單
            }
          });

          // 當電影院選擇改變時發送 AJAX 請求獲取對應放映日期
          $('#cinema-select').change(function() {
            var cinemaName = $(this).val();
            var movieName = "{{movie_name}}";
            if (cinemaName !== '') {
              showPreloader(); // 顯示 preloader

              $.ajax({
                url: '{% url "get_dates" %}', // Django URL
                method: 'GET',
                data: { 'back_movie': movieName, 'back_cinema': cinemaName },
                success: function(response) {
                  $('#date-select').empty().prop('disabled', false); // 清空並啟用日期選單
                  $('#date-select').append('<option value="">請選擇放映日期</option>');
                  $.each(response.dates, function(index, date) {
                    var truncatedDate = date.substring(0, 10);
                    $('#date-select').append('<option value="' + date + '">' + truncatedDate + '</option>');
                  });
                },
                complete: function() {
                  hidePreloader(); // 請求完成後隱藏 preloader
                }
              });
            } else {
              $('#date-select').empty().prop('disabled', true); // 清空日期選單
            }
          });

          // 當選擇日期時直接提交表單，發送時刻表請求
          $('#date-select').change(function(event) {
            var date = $(this).val();
            var cinemaName = $('#cinema-select').val();
            var movieName = "{{movie_name}}";
            var truncatedDate = date.substring(0, 10);
            if (date !== '') {
              showPreloader(); // 顯示 preloader

              $.ajax({
                url: '{% url "get_times" %}',  // Django URL
                method: 'GET',
                data: {
                  'back_movie': movieName,
                  'back_cinema': cinemaName,
                  'back_date': date
                },
                success: function(response) {
                  $('#time-display').html(''); // 清空播放时间显示
                  $('#time-display').append('<p>'+ cinemaName +'</p>'+'<p>'+ truncatedDate +'</p>'+'<p>放映時間</p>');
                  $.each(response.times, function(index, time) {
                    var type = response.types[index];
                    var link = response.links[index];
                    $('#time-display').append('<a href="' + link + '" style="text-decoration: underline;"> <p><i class="fa fa-clock"></i>' + time + '&nbsp;' + '<i class="fa fa-film"></i>' + type + '</p></a>');
                  });
                },
                error: function(xhr, status, error) {
                  console.error("Error fetching times:", error);
                  $('#time-display').html('<p>發生錯誤，請稍後再試</p>');
                },
                complete: function() {
                  hidePreloader(); // 請求完成後隱藏 preloader
                }
              });
            } else {
              $('#time-display').html('<p>請先選擇放映日期</p>');
              hidePreloader(); // 請求完成後隱藏 preloader
            }
          });
        });

        $(document).ready(function() {
          // 監聽每個 checkbox 的變化

          $('input[type="checkbox"]').on('change', function() {
            var checkboxId = $(this).attr('id');        // 取得勾選框的 id
            var isChecked = $(this).prop('checked');    // 判斷是否勾選
            var movieTitle = $(this).data('movie-title'); // 取得電影的中文名稱

            // 發送 AJAX 請求
            $.ajax({
              url: "{% url 'handle' %}",  // 替換成後端的 URL
              method: 'POST',  // 使用 POST 方法
              data: {
                'id': checkboxId,        // 傳送 checkbox 的 ID
                'liked': isChecked,      // 傳送勾選狀態 (true 或 false)
                'movie_title': movieTitle,
                'csrfmiddlewaretoken': csrftoken // 傳送電影名稱
              },
              success: function(response) {
                // 可以在這裡處理成功回調
                console.log('Data saved successfully:', response);
              },
              error: function(error) {
                // 可以在這裡處理錯誤回調
                console.error('Error saving data:', error);
              }
            });
          });
        });
      </script>
      <script type="text/javascript">
        $(document).ready(function() {
            $('#new-comment-form').on('submit', function(event) {  //選擇表單  點擊提交
                event.preventDefault();    //阻止表單加載頁面(不用換網址)

                // 獲取表單數據
                var formData = {
                    'movieName': $('input[name="movieName"]').val(),  //獲取隱藏的電影名稱的值
                    'massage': $('#massage').val(),      //獲取使用者輸入在textarea的值
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                };

                // 發送 AJAX 請求
                $.ajax({
                    url: "{% url 'massage123' %}",
                    type: 'POST',
                    data: formData,
                    dataType: 'json',
                    success: function(response) {
                        if (response.success) {
                            // 成功後 新增留言
                            $('#comments-list').append(
            `<li>
                <strong>${response.author}:</strong><br>
                <p>${response.massage}</p>
                <em style="font-size: 10px; opacity: 0.7;">${response.created_at}</em>
            </li>`
        );
                            // 清空表單
                            $('#massage').val('');
                        } else {
                            alert(response.error);
                        }
                    },
                    error: function(xhr) {
                        const errorMessage = xhr.responseJSON ? xhr.responseJSON.error : '發生錯誤，請稍後再試';
                        alert(errorMessage);
                    }
                });
            });
        });
    </script>
